.invites
  .header
    .logo= image_tag 'logo@2x.png'
  .main
    .container
      .field.title Thank you for signing up
      .field.content
        .app-description
          We will notify you when the Android app is ready.
