.invites
  .header
    .logo= image_tag 'logo@2x.png'
  .main
    .container
      .field.title Thank you!
      .field.content
        Thank you for claiming your account.  Download the app to get started.
      .field.no-bottom-border
        = link_to image_tag('app_store_button.png'), 'http://www.getbetter.com/app'
