.invites
  .header
    .logo= image_tag 'logo@2x.png'
  .main
    .container
      .field.title Thank you!
      .field.content
        .app-description
          Thank you for claiming your account.  Download the app to get started.
        %br
        .app-button
          = link_to image_tag('Download_on_the_App_Store_Badge_US-UK_135x40.svg'), 'http://www.getbetter.com/app'
