<h1>Listing contents</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Type</th>
    <th>Abstract</th>
  </tr>

<% @contents.each do |content| %>
  <tr>
    <td><%= link_to content.title, content %></td>
    <td><%= content.contentsType %></td>
    <% if content.abstract.nil? %>
      <td> </td>
    <% else %>
      <td><%= content.abstract.html_safe %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Content', new_content_path %>
