<div class="content_full">
	<div class="content_type">Message</div>
	<div class="content_title"><%= @message.title %></div>
	<div class="content_source">
		<% if !@message.created_at.nil? %>
			<%= @message.created_at.strftime("%b. #{@message.created_at.day.ordinalize}, %Y") %>&nbsp;&nbsp;|&nbsp;&nbsp;
		<% end %>
		<%= image_tag("mayo_clinic_logo.png", :class => "mayo_icon")%>&nbsp;&nbsp;Mayo Clinic
	</div>
	
	<div class="content_text">
		<% if !@message.text.nil? %>
			<%=@message.text.html_safe%>
		<% end %>
	</div>
</div>