%p Hi #{@user.first_name}!

%p I've invited you to start caring for patients with Better. Log in with your Better account:

%p #{link_to 'Login', "#{CARE_URL_PREFIX}/login", :next => '/settings/profile'}

%p After you log in, take a moment to verify your personal information.

%p - #{@assignor.full_name}