.content_card.card-link{:data => {:card_id => card.try(:id)}}
  .content_source
  .content_header_card
    .content_title_card= content.title.html_safe
    .content_text_card_fade= content.preview.html_safe
