.content_cardview.fullscreen-available
  .content_source_preview= image_tag('mayo_clinic_logo.png', :class => 'mayo_icon')
  .content_title_preview= content.title.html_safe
  .content_text_preview_fade= content.preview.html_safe
