.content_cardview{:onclick => "document.actionJSON = JSON.stringify([{type: 'fullscreen'}]); window.location.href = 'http://dontload/'"}
  .content_source= image_tag('mayo_clinic_logo.png', :class => 'mayo_icon')
  .content_title= content.title.html_safe
  .content_text_preview_fade= content.preview.html_safe
