- if card.resource.is_a?(Content) && card.content_type == 'Question'
  = render :partial => 'question_preview', :locals => {:question => card.resource.decorate}
- elsif card.resource.is_a?(Content)
  = render :partial => 'content_preview', :locals => {:content => card.resource.decorate}
- elsif card.resource.is_a?(Consult)
  = render :partial => 'consult_preview', :locals => {:consult => card.resource, :message => card.resource.most_recent_message}
