- if resource.is_a?(Question)
  = render :template => 'api/v1/questions/show', :locals => {:card => card, :question => resource}
- elsif resource.is_a?(Content) && resource.content_type == 'Question'
  = render :partial => 'api/v1/cards/question_preview', :locals => {:question => resource}
- elsif resource.is_a?(Content)
  = render :partial => 'api/v1/cards/content_preview', :locals => {:card => card, :content => resource}
- elsif resource.is_a?(Consult)
  = render :partial => 'api/v1/cards/consult_preview', :locals => {:consult => resource, :message => resource.most_recent_message}
