- if card.resource.is_a?(Content)
  = render :partial => 'api/v1/contents/body', :locals => {:content => card.resource.decorate}
- elsif card.resource.is_a?(Question)
  = render :template => 'api/v1/questions/show', :locals => {:card => card, :question => card.resource}
