.reset_password
  .header
    .logo= image_tag 'logo@2x.png'
  .main
    .container
      .title
        %h2 Email has already been confirmed.
        %p
          If you feel you have reached this page in error, please contact
          support@getbetter.com.
