.reset_password
  .header
    .logo= image_tag 'logo@2x.png'
  .main
    .container
      .title
        %h2 Thank you for confirming your email address.
        %p Please use your email address and password to sign in.
