.new
  .card.question.birthday{data: {card_id: card.try(:id), user_id: card.try(:user_id)}}
    .header
      What is your birthdate?
    .body
      = image_tag('b_Small.png', class: %w(logo better-logo))
    .footer
    = image_tag('ArrowLight.png', class: 'open-arrow')
