.gender-question
  .content_subtitle What's your gender?
  = link_to image_tag('male.png', :class => [:gender, :male], :data => {:gender => :male}), '#'
  = link_to image_tag('female.png', :class => [:gender, :female], :data => {:gender => :female}), '#'
