.old
  .content_card.question.forest
    .content_header_card.clear
      .content_title_card.clear= question.title.html_safe
      .content_text_card
        = link_to image_tag('male.png', class: [:gender, :left], data: {gender: :male, card_id: card.try(:id)}), '#'
        = link_to image_tag('female.png', class: [:gender, :right], data: {gender: :female, card_id: card.try(:id)}), '#'
