.content_card
  .content_header_card
    .content_title_card= question.title.html_safe
    .content_text
      = render :partial => "api/v1/questions/#{question.view}", :locals => {:card => card, :question => question}
