development:
  NOD_API_KEY: ukWpqVwGyS7Aq3USxYEK
  STRIPE_API_KEY: sk_test_sozodqhf3PL25boLKYlBWWzX
  STRIPE_PUBLIC_KEY: pk_test_KFkJ0eRff3PMczxCVA4ErzYc
  API_DOCS_USERNAME: better
  API_DOCS_PASSWORD: betterpassword
  AWS_DOCS: true
  AWS_ACCESS_KEY_ID: AKIAJYP4DRAT7EQ3RREQ
  AWS_SECRET_ACCESS_KEY: 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
  S3_BUCKET: btr01-devlocal
  GA_TRACKING_ID: UA-40574608-2 # for rhs-devlocal
  PUSHER_APP_ID: 36367
  PUSHER_KEY: f93e7c2a2a407ef7747b
  PUSHER_SECRET: 513445887ae45c985287
  # TWILIO_ENDPOINT_HOST: rhsapi.ngrok.com
test:
  NOD_API_KEY: ukWpqVwGyS7Aq3USxYEK
  STRIPE_API_KEY: sk_test_sozodqhf3PL25boLKYlBWWzX
  STRIPE_PUBLIC_KEY: pk_test_KFkJ0eRff3PMczxCVA4ErzYc
  API_DOCS_USERNAME: better
  API_DOCS_PASSWORD: betterpassword
  AWS_DOCS: true
  AWS_ACCESS_KEY_ID: AKIAJYP4DRAT7EQ3RREQ
  AWS_SECRET_ACCESS_KEY: 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
  S3_BUCKET: btr01-devlocal
  GA_TRACKING_ID: UA-40574608-2 # for rhs-devlocal
  PUSHER_APP_ID: 36367
  PUSHER_KEY: f93e7c2a2a407ef7747b
  PUSHER_SECRET: 513445887ae45c985287