development:
  GCM_KEY: AIzaSyAkGLtzj-ecM3Nkhw6t6LlyQkSZwo_H2EI
  NOD_API_KEY: ukWpqVwGyS7Aq3USxYEK
  STRIPE_API_KEY: sk_test_sozodqhf3PL25boLKYlBWWzX
  STRIPE_PUBLIC_KEY: pk_test_KFkJ0eRff3PMczxCVA4ErzYc
  API_DOCS_USERNAME: better
  API_DOCS_PASSWORD: betterpassword
  AWS_DOCS: true
  AWS_ACCESS_KEY_ID: AKIAJYP4DRAT7EQ3RREQ
  AWS_SECRET_ACCESS_KEY: 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
  S3_BUCKET: btr01-devlocal
  GA_TRACKING_ID: UA-40574608-2 # for rhs-devlocal
  PUSHER_APP_ID: 36367
  PUSHER_KEY: f93e7c2a2a407ef7747b
  PUSHER_SECRET: 513445887ae45c985287
  PUB_SUB_SECRET: THIS_IS_A_SECRET_SHHH
  PUB_SUB_HOST: http://localhost:3001
  TWILIO_ENDPOINT_HOST: rhsapi.ngrok.com
  APNS_HOST: gateway.sandbox.push.apple.com
  APNS_PORT: 2195
  APNS_PEM_PATH: config/static/apns.pem
  APNS_PEM_PASSPHRASE: password
  TWILIO_SID: AC6d4428ae25debbd4019f1ebe19c27f77
  TWILIO_TOKEN: d198bff8b6329cd6110c6dc2fb58cd2b
  MIXPANEL_API_KEY: 3a844a978038d0d30c507a78b4403388
  MIXPANEL_TOKEN: 6ecc7e55d9b4e93d87d962f08e303b4a
  SNOMED_SEARCH_URL: https://snomed.getbetter.com/snomed/en-edition/v20140901/
test:
  GCM_KEY: AIzaSyAkGLtzj-ecM3Nkhw6t6LlyQkSZwo_H2EI
  NOD_API_KEY: ukWpqVwGyS7Aq3USxYEK
  STRIPE_API_KEY: sk_test_sozodqhf3PL25boLKYlBWWzX
  STRIPE_PUBLIC_KEY: pk_test_KFkJ0eRff3PMczxCVA4ErzYc
  API_DOCS_USERNAME: better
  API_DOCS_PASSWORD: betterpassword
  AWS_DOCS: true
  AWS_ACCESS_KEY_ID: AKIAJYP4DRAT7EQ3RREQ
  AWS_SECRET_ACCESS_KEY: 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
  S3_BUCKET: btr01-devlocal
  GA_TRACKING_ID: UA-40574608-2 # for rhs-devlocal
  PUSHER_APP_ID: 36367
  PUSHER_KEY: f93e7c2a2a407ef7747b
  PUSHER_SECRET: 513445887ae45c985287
  SNOMED_SEARCH_URL: https://snomed.getbetter.com/snomed/en-edition/v20140901/
