development:
  NOD_API_KEY: ukWpqVwGyS7Aq3USxYEK
  STRIPE_API_KEY: sk_test_sozodqhf3PL25boLKYlBWWzX
  STRIPE_PUBLIC_KEY: pk_test_KFkJ0eRff3PMczxCVA4ErzYc
  API_DOCS_USERNAME: better
  API_DOCS_PASSWORD: betterpassword
  AWS_ACCESS_KEY_ID: AKIAJYP4DRAT7EQ3RREQ
  AWS_SECRET_ACCESS_KEY: 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
  S3_BUCKET: btr01-dev
test:
  NOD_API_KEY: ukWpqVwGyS7Aq3USxYEK
  STRIPE_API_KEY: sk_test_sozodqhf3PL25boLKYlBWWzX
  STRIPE_PUBLIC_KEY: pk_test_KFkJ0eRff3PMczxCVA4ErzYc
  API_DOCS_USERNAME: better
  API_DOCS_PASSWORD: betterpassword
  AWS_ACCESS_KEY_ID: AKIAJYP4DRAT7EQ3RREQ
  AWS_SECRET_ACCESS_KEY: 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
  S3_BUCKET: btr01-dev
