default: &default
  adapter: mysql2
  encoding: utf8
  pool: 5

development:
  <<: *default
  database: rhs_development
  username: root
  host: localhost

test:
  <<: *default
  database: rhs_test<%= ENV['TEST_ENV_NUMBER'] %>
  username: root
  host: localhost
  min_messages: WARNING
