!!! XML
%Response
  - if @phas_off_duty
    %Gather{action: @select_url, numDigits: 1}
      %Say{voice: 'woman'}
        Hi, thanks for calling Better. As always, If you are calling about a medical
        emergency, please hang up and dial nine one one immediately. Our PHAs are
        currently off duty, but you can either send us a message through the Better
        app or connect with a May oh nurse.
      = render partial: 'triage_instructions'
    %Redirect
      = @menu_url
  - else
    %Say{voice: 'woman'}
      Hi, thanks for calling Better.  If you are calling about a medical
      emergency, please hang up and dial nine one one immediately. Otherwise, a
      personal health assistant will be right with you.
    - if @send_to_queue
      %Dial
        %Conference{beep: false, endConferenceOnExit: false, startConferenceOnEnter: true, waitUrl: TWILIO_WAIT_URL}
          = @phone_call.twilio_conference_name
    - else
      -# Routes to Clare's # for now.
      %Dial{callerId: "+1#{Metadata.pha_phone_number}"} +14152952684