@import "colors";

// wrap in "new" to protect old styles
.new {
font-family:"Roboto Light";

.content-card {
  width: 297px;
  overflow: hidden;
  .header {
    overflow: hidden;
    margin: 20px 20px 0px;
    .logo {
      float: left;
      &.mayo-logo {
        width: 90px;
      }
    }
  }
  .title {
    margin: 10px 20px 0px;
    font-family:"Roboto Light";
    font-size: 18pt;
    color: $mayo-blue;
    &.small {
      font-size: 14pt;
    }
  }
  .body {
    margin: 0px 20px 30px;
  }
  .abstract {
    margin: 10px 20px 0px;
  }
  .footer {
    padding: 25px 0px 0px;
  }
}
}
