@import "colors";

// wrap in "new" to protect old styles
.new {
font-family:"Roboto Light";

.mayo-logo {
  width: 90px;
}

.better-logo {
  width: 13px;
}

.open-arrow {
  width: 8px;
}

.card {
  position: relative;
  width: 100%;
  overflow: hidden;

  .card-link {
    .body {
      padding-right: 15px;
    }
  }

  .image-container {
    line-height: 0px;
  }

  .card-image {
    width: 100%;
  }

  &.question {
    background-color: $pacific-blue;
    color: white;
    .body {
      min-height: 98px;
    }
  }

  &.birthday {
    background-size: 100%;
    background-image: image-url('Cakes.png');
    background-position: bottom;
    background-repeat: no-repeat;
  }

  &.better-background {
    background-image: image-url('payment_background.png');
    background-position: bottom;
    background-repeat: no-repeat;
  }

  .header {
    overflow: hidden;
    margin: 20px 20px 0px;

    &.orange {
      color: $smashed-pumpkin;
    }

    .logo {
      float: left;
    }

    .avatar {
      width: 50px;
      float: left;
    }

    .avatar-text {
      width: 200px;
      float: right;
    }
  }

  .body {
    position: relative;
    overflow: hidden;
    margin: 10px 20px 0px;

    .logo {
      position: absolute;
      left: 0;
      bottom: 0;
    }

    .gender {
      width: 95px;
      &.left {
        padding-left: 20px;
        float: left;
      }
      &.right {
        padding-right: 5px;
        float: right;
      }
    }

    .card-buttons {
      height: 65px;
      margin-top: 10px;

      .card-button {
        float: left;
        min-height: 40px;
        height: 20px;
        width: 123px;
        text-align: center;
        margin: 10px 10px 10px 0px;
        border-radius: 2px;
        position: relative;

        &.last {
          margin-right: 0px;
        }

        span {
          position: absolute;
          top: 10px;
          left: 0px;
          width: 100%;
          text-align: center;
        }

        &.accept {
          border: 1px solid $dark-blue;
          background-color: $dark-blue;
          color: white;
        }

        &.reject {
          border: 1px solid $medium-grey;
          background-color: white;
          color: $dark-blue;
        }
      }
    }
  }

  .title {
    font-family:"Roboto Light";
    font-size: 18pt;
    color: $mayo-blue;
    &.small {
      font-size: 14pt;
    }

    &.white {
      color: white;
    }
  }

  .abstract {
    margin: 10px 0px 0px;
    color: $manatee;

    &.white {
      color: white;
    }
  }

  .footer {
    color: $timberwolf;
    margin: 0px 20px;
    padding: 15px 0px 0px;
    img {
      margin: 6px 6px 6px 0px;
      float: left;
      width: 30px;
      border-radius: 15px;
      -webkit-border-radius: 15px;
      -moz-borderer-radius: 15px;

      &.better-b {
        width: 18px;
        padding: 9px 0px 16px 0px;
      }
    }
    .card-info {
      padding-bottom: 25px;
    }
    .card-info-copy {
      font-family:"Roboto Light";
      font-size: 10pt;
      overflow: hidden;
      strong {
        font-family: "Roboto";
      }
    }
  }

  .open-arrow {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
  }
}
}
