$orange: #E97310;
$dark-grey: #878A8C;
$medium-grey: #C2C4C5;
$light-grey: #E0E1E1;
$faded-grey: #888B8D;
$dark-green: #537F89;
$dark-blue: #68B7C8;
$light-blue: #B3DBE5;
$deep-blue: #004CA1;
$tan: #D9D1BD;
$green: #6AA06B;
$red: #FF392F;
$black: #3B392F;
