$orange: #E97310;
$dark-grey: #878A8C;
$medium-grey: #C2C4C5;
$light-grey: #E0E1E1;
$faded-grey: #888B8D;
$dark-green: #537F89;
$dark-blue: #68B7C8;
$light-blue: #B3DBE5;
$deep-blue: #004CA1;
$tan: #D9D1BD;
$green: #6AA06B;
$red: #FF392F;
$black: #3B392F;

$smashed-pumpkin: #EA7411;
$steel-teal: #54808A;
$pacific-blue: #69B8CC;
$blizzard: #B4DCE6;
$fern: #6A9B6B;
$outer-space: #3B392F;
$manatee: #888B8D;
$timberwolf: #C3C5C6;
$silver: #E1E2E2;
$almond: #D9D1BD;
$ruby: #FF3A30;
$mac-and-cheese: #FFC85A;
$mayo-blue: #004CA1;
