@import "colors";

.old {
// #########################################################
// Shared Content CSS
// #########################################################

.content_source{
  height: 40px;
  text-align: left;
}

// #########################################################
// Cardview + Preview CSS
// #########################################################

div.content_card {
    font-family:"Roboto Light";
    width: 100%;
    height:288px;
}

div.content_header_card {
    height: 200;
    background-color: #ececec;
    border-top: 1px solid #CCCCCC;
    &.clear {
      background-color: transparent;
    }
}

div.content_title_card {
    font-family:"Roboto Light";
    font-size:22px;
    line-height:28px;
    overflow: hidden;
    color:#3b392f;
    padding-left:  10px;
    padding-top:   5px;
    padding-right: 10px;
    &.clear {
      background-color: transparent;
    }
}

.content_subtitle {
    font-family:"Roboto Light";
    font-size:14px;
    line-height:28px;
    overflow: hidden;
    color:#3b392f;
    padding-left:  10px;
    padding-right: 10px;
}

.content_text_card_fade {
    font-family: "Roboto Light";
    font-size: 14px;
    color: #4c4c4c;
    height: 93px;
    padding: 5px 10px 20px 10px;
    overflow: hidden;
    -webkit-mask-image: -webkit-gradient(linear, left 50%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}

// #########################################################
// Full Screen Content CSS
// #########################################################

div.content_full {
    width: 100%;
}

div.content_header {
    background-color: #ececec;
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
}

div.content_title_full {
    font-family:"Roboto Light";
    font-size:27px;
    color:#3b392f;
    padding: 10px 10px 10px 10px;
    line-height:33px;
}

div.content_abstract{
    font-family:"Roboto Light";
    font-size: 18px;
    color: #706e67;
    padding: 0px 10px 10px 10px;
    line-height: 23px

}

.content_text {
  font-family:"Roboto";
  font-size: 16px;
  color: #4c4c4c;
  padding: 10px 10px 10px 10px;
  line-height: 21px;
  h3 {
    font-size: 18px;
  }
  ol {
    li {
      margin-bottom: 10px;
    }
  }
}

.mayo-copyright {
    font-family: "Avenir Next Regular Condensed";
    font-size: 10px;
    color: #999999;
    height: 42px;
    padding: 10px 0px;
    margin: 0px 5px 78px 5px;
    line-height: normal;
    position: relative;
    &.no-margin {
      margin: 0px 5px;
    }
    img {
      position: absolute;
      top: 10px;
      right: 5px;
      height: 46px;
      padding: 5px 0px;
    }
}

.talk-space {
    padding-bottom: 74px;
}

.talk, .schedule-button {
    width: calc(100% - 75px);
    height: 42px;
    padding: 13px 0px 13px 75px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    font-family:"Roboto";
    font-size: 16px;
    color: #ffffff;
    background-size: 40px auto;
    background-color: #f08b3a;
    background-image: url(/assets/CTA@2x.png);
    background-repeat: no-repeat;
    background-position: 15px center;
}

.new-consult {
  min-height: 130px;
}

img.top_icon {
    height:14px;
    width:14px;
    display:inline-block;
    margin-top:-4px;
}

img.mayo_icon {
  width:90px;
  padding: 8px 0px 8px 10px;
}

.section-head {
  margin: 0px -10px;
  padding: 15px 10px 15px 50px;
  font-size: 18px;
  color: #4c4c4c;
  border-top: 1px solid #cccccc;
  background-size: 32px auto;
  background-position: 5px center;
  background-repeat: no-repeat;
  background-image: url(/assets/arrow_up_@2x.png);
  &.closed {
    background-image: url(/assets/arrow_down_@2x.png);
    background-color: #ececec;
    &.last {
      border-bottom: 1px solid #cccccc;
    }
  }
}

.section {
  &.last {
    border-bottom: 1px solid #cccccc;
  }
  strong {
    display: block;
  }
  li {
    strong {
      font-style: italic;
    }
  }
}

.disabled {
  display: none;
}

img.mayoContentImage {
  padding-bottom: 12px;
  padding-top: 3px; 
}

.author-image {
  display: none;
  float: left;
  margin-right: 10px;
  width: 69px;
  height: 84px;
  overflow: hidden;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  border: 5px solid #eee;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}

.authorImageDiv {
  display: none;
  float:left;
  width: 69px;
  height: 84px;
  margin-right: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  border: 5px solid #eee;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}

strong {
    font-weight: bold;
}

//Content Tables
div.mctable {
    width: 100%;
    max-width: 100%;
    padding-bottom: 10px;
    font-size: 9px;
}

table.content {
    max-width: 100%;
    font-size: 9px;
}

.consult-header {
  background-color: #ececec;
  border-bottom: 1px solid #CCCCCC;
  img {
    margin: 9px 7px 9px 15px;
  }
  .date {
    display: inline-block;
    width: 156px;
    text-align: right;
    font-size: 12px;
    color: #999999;
  }
}

.consult-source {
  position: relative;
  padding: 8px 0px;
  border-bottom: 1px solid #CCCCCC;
  min-height: 150px;
  font-size: 20px;
  line-height:24px;
  strong {
    font-family:"Roboto";
    font-weight: 400;
  }
  .left {
    float: left;
    width: 86px;
  }
  .right {
    padding-top: 12px;
    padding-right: 10px;
    float: right;
    width: 200px;
  }
  img {
    height: 62px;
    width: 62px;
    margin: 12px 10px 12px 15px;
    -moz-border-radius: 31px;
    border-radius: 31px;
  }
}

.consult-info {
  .left {
    float: left;
    width: 86px;
  }
  .right {
    float: right;
    padding-top: 12px;
    width: 214px;
    min-height: 80px;
    -webkit-mask-image: -webkit-gradient(linear, left 50%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  }
  img {
    height: 62px;
    width: 62px;
    margin: 12px 10px 12px 15px;
    -moz-border-radius: 31px;
    border-radius: 31px;
  }
  span {
    display: block;
    strong {
      font-family:"Roboto Bold";
    }
  }
}

.forest {
  background: url(/assets/forest.png) no-repeat;
  background-size: 100%;
  margin: -20px 0px;
  .content_title_card {
    margin: 20px 0px 0px 0px;
  }
}

.birthday {
  background: url(/assets/birthday_background.png) no-repeat;
  background-size: 100%;
}

.question {
  &.center {
    text-align: center;
  }
  height: 124px;
  img {
    width: 130px;
    &.birthdate {
      width: 124px;
    }
  }
  .content_text_card {
    position: relative;
    .birthdate {
      position: absolute;
      top: 72px;
      left: 86px;
    }
    .left {
      position: absolute;
      top: 20px;
      left: 16px;
    }
    .right {
      position: absolute;
      top: 20px;
      right: 16px;
    }
  }
}

.diet-question {
  .top-left {
    position: absolute;
    left: 25px;
    top: 65px;
  }
  .top-middle {
    position: absolute;
    left: 115px;
    top: 65px;
  }
  .top-right {
    position: absolute;
    left: 205px;
    top: 65px;
  }
  .bottom-left {
    position: absolute;
    left: 25px;
    top: 125px;
  }
  .bottom-middle {
    position: absolute;
    left: 115px;
    top: 125px;
  }
  .bottom-right {
    position: absolute;
    left: 205px;
    top: 125px;
  }
  .tile {
    display: block;
    margin: auto;
    padding: 5px 0px;
    width: 70px;
    height: 55px;
  }
}

.image-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  li {
    padding: 10px 0px;
    border-top: 1px solid #cccccc;
    overflow: auto;
    width: 100%;
    &.last {
      border-bottom: 1px solid #cccccc;
      margin-bottom: 10px;
    }
    img {
      width: 40px;
      float: left;
      padding: 5px 8px;
    }
    span {
      width: 240px;
      float: right;
    }
  }
}

.card-header {
  position: relative;
  background-color: white;
  border-bottom: 1px solid #cccccc;
  overflow: auto;
  width: 100%;
  img {
    width: 25px;
    float: left;
    margin: 10px;
    &.double {
      width: 50px;
    }
  }
  h1 {
    font-family:"Roboto Light";
    font-weight: 400;
    width: 245px;
    float: right;
    font-size: 18px;
    line-height: 25px;
    margin: 10px 0px;
    padding-right: 10px;
    text-align: left;
    color: #ea7411;
    &.double {
      width: 220px;
    }
  }
}

.card-body {
  height: 128px;
  padding: 10px;
  font-family:"Roboto Light";
  font-weight: 300;
  font-size: 16px;
  color: #63615b;
  &.welcome {
    background: url(/assets/welcome_bg.png) no-repeat;
    background-size: 100% 100%;
  }
  &.no-buttons {
    height: 140px;
  }
  &.with-buttons {
    height: 65px;
  }
  strong {
    font-family:"Roboto";
    font-weight: 400;
  }
}

.card-buttons {
  .card-button {
    float: left;
    min-height: 40px;
    height: 20px;
    width: 128px;
    text-align: center;
    margin: 10px;
    border-radius: 2px;
    position: relative;
    span {
      position: absolute;
      top: 10px;
      left: 0px;
      width: 100%;
      text-align: center;
    }
    &.accept {
      border: 1px solid $dark-blue;
      background-color: $dark-blue;
      color: white;
    }
    &.reject {
      border: 1px solid $medium-grey;
      background-color: white;
      color: $dark-blue;
    }
  }
}
}
