@import 'colors';
@import 'media-queries';

.reset_password, .invites {
  font-size: 150%;
  width: 100%;
  padding-top: 10px;

  @include iphone5 {
    font-size: 350%;
  }

  .container {
    width: 75%;
    margin: 0 auto;
    padding: 10px;
    border: solid;

    @include iphone5 {
      width: 90%;

      input {
        font-size: 75%;
      }

      input[type=submit] {
        margin-top: 50px;
        margin-bottom: 50px;
        font-size: 100%;
      }
    }
  }
}
