@import "colors";
@import 'media-queries';

.reset_password, .invites {
  font-family:"Roboto Light";
  font-size: 16px;
  color: $manatee;

  width: 100%;
  padding-top: 10px;

  .header {
    width: 100%;
    .logo {
      width: 175px;
      margin: 0px auto;
      padding: 20px;
      img {
        width: 175px;
      }
    }
  }

  .main {
    background-color: $silver;
    padding: 20px 10px;

    .container {
      background-color: white;
      width: 90%;
      max-width: 350px;
      margin: 0px auto;
      border: 1px solid transparent;
      border-radius: 5px;
      -moz-border-radius: 5px;

      -moz-box-shadow: 0 0 5px $timberwolf;
      -webkit-box-shadow: 0 0 5px $timberwolf;
      box-shadow: 0 0 5px $timberwolf;

      .title, #error_explanation {
        padding: 0 15px;
      }

      .field {
        .email {
          display: inline;

          @include iphone5 { margin-left: 7px; }
        }

        font-family:"Roboto Light";
        font-size: 16px;
        margin: 0px 15px;
        padding: 15px 0px;
        border-bottom: 1px solid $timberwolf;
        position: relative;

        &.no-image {
          margin-left: 45px;
        }

        &.no-bottom-border {
          border-bottom: none;
        }

        &.top-border {
          border-top: 1px solid $timberwolf;
        }

        ::-webkit-input-placeholder {
          font-family:"Roboto Light";
          font-size: 16px;
          color: $manatee;
        }
        :-moz-placeholder {
          font-family:"Roboto Light";
          font-size: 16px;
          color: $manatee;
        }
        ::-moz-placeholder {
          font-family:"Roboto Light";
          font-size: 16px;
          color: $manatee;
        }
        :-ms-input-placeholder {
          font-family:"Roboto Light";
          font-size: 16px;
          color: $manatee;
        }

        input[type="text"], input[type="password"] {
          width: 220px;
          font-family:"Roboto Light";
          font-size: 16px;
          border: none;

          @include iphone5 { width: 180px; }
        }

        label {
          font-size: 16px;

          @include iphone5 { padding-left: 8px; }
        }

        img {
          width: 17px;
          padding: 0px 5px;
        }

        select {
          font-family:"Roboto Light";
          font-size: 16px;

          @include iphone5 { max-width: 80px; }
        }

        .date-selector {
          padding: 10px 0px 0px 0px;
          width: 100%;
        }
      }

      .submit {
        width: 90%;
        font-family:"Roboto Light";
        font-size: 20px;
        color: white;
        padding: 10px 0px;
        margin: 20px 17px 10px;
        border: none;
        border-radius: 5px;
        -moz-border-radius: 5px;
        background-color: $smashed-pumpkin;
      }
    }
  }
}
