// Place all the styles related to the Contents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Mappings for iOS fonts
@font-face {font-family:"ITC Franklin Gothic Medium Condensed"; src: local("FranklinGothic-MedCnd");}
@font-face {font-family:"ITC Franklin Gothic Book Condensed"; src: local("FranklinGothic-BookCnd");}

body {
	margin:0px;
	padding:0px;
}

div.content {
    width:620px;
}

div.content_full {
    width:300px;
    margin-left: 14px;
    margin-right: 14px;
    margin-bottom: 16px;
    margin-top:10px;
}

div.content_cardview {
    width:288px;
    margin-left: 14px;
    margin-right: 14px;
    margin-bottom: 16px;
    margin-top:10px;
}

div.content_type_and_sender {
	font-family:"ITC Franklin Gothic Medium Condensed";
	font-size:15px;
	color:#D97D2B;
    text-transform:uppercase;
    padding-bottom:4px;
    float:left;
    vertical-align: bottom;
}

div.content_type_and_sender img {
    vertical-align: middle;
    padding-right: 6px;
}

div.content_title {
	font-family:"ITC Franklin Gothic Medium Condensed";
	font-size:21px;
	color:#4c4c4c;
    padding-bottom:2px;
    clear:left;
}

div.content_date_and_source {
	font-family:"ITC Franklin Gothic Book Condensed";
	font-size:14px;
    color:#999999;
    padding-bottom:5px;
}

div.content_subtitle {
	font-family:"ITC Franklin Gothic Book Condensed";
	font-size:17px;
	color:#4c4c4c;
    padding-bottom:15px;
}

div.content_text {
	font-family:"ITC Franklin Gothic Book Condensed";
	font-size:18px;
	color:#4c4c4c;
}

div.content_talk {
    font-family:"ITC Franklin Gothic Medium Condensed";
    font-size:15px;
    color:#5a8791;
    text-transform:uppercase;
    background-color: #bfbfbf;
    padding-bottom:10px;
    margin-top:10px;
    margin-bottom:10px;
}

div.talk_icon{
    float:left;
    padding-right: 10px;
    padding-left: 10px;
    background-image: url(/assets/talk_icn.png);
    background-size:37px 32px;
    background-repeat:no-repeat;
}
