!!!
%html
  %head
    %title Better.
    = stylesheet_link_tag :application, media: :all
    = javascript_include_tag :application
    :javascript
      var isLoaded = false;
      function hasLoaded() {
        isLoaded = true;
      }
  %body{onload: 'hasLoaded()'}
    = yield
